@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html,body {
    max-width: 100%;
    overflow-x: hidden;
}


body {
    background: linear-gradient(135deg, #141E30, #243B55);
    color: white;
    min-height: 100vh;
}

.navbar-toggler:focus {
    border: none;
    color: white;
    scroll-behavior: smooth;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #00d4ff;
    transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: #00d4ff !important;
    text-shadow: 0px 0px 5px #00d4ff, 0px 0px 20px #00d4ff;
    letter-spacing: 1px;
    font-weight: 500;
    transition: color 0.3s ease, font-weight 0.3s ease, letter-spacing 0.3s ease;
}

.intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate-border {
    border: 5px dotted #00d4ff;
    padding: 10px;
    border-radius: 450px;
    animation: rotation 60s linear 1.5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#profile_img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    transform: rotate(0deg);
    animation: antirotation 60s linear 1.5s infinite;;
}

@keyframes antirotation {
        0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-90deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    75% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.left h2 {
    text-shadow: 0px 0px 2px black;
    color: #00d4ff;
}

.left h1 {
    text-shadow: 0px 0px 2px black;
}

.left p {
    max-width: 700px;
    font-size: 20px;
    text-align: justify;
}

.links {
    display: flex;
    gap: 30px;
    padding: 20px 0;
}

.links svg {
    color: linear-gradient(135deg, #00d4ff, #008cff, #0044ff);
    border-width: 0;
    ;
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
    filter: drop-shadow(0px 0px 5px #00d4ff) drop-shadow(0px 0px 45px #00d4ff);
}

.links svg:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 5px #00d4ff) drop-shadow(0px 0px 20px #00d4ff) drop-shadow(0px 0px 30px #00d4ff)
}

.select_button {
    display: flex;
    gap: 40px;
}

.btns {
    font-weight: bold;
    font-size: medium;
    padding: 10px 20px;
    color: white;
    text-align: center;
    background: linear-gradient(135deg, #00d4ff, #008cff, #0044ff);
    border-width: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px #00d4ff, 0 0 20px #008cff;
    text-shadow: 0px 0px 2px black;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.btns:focus:hover {
    background-color: #00839e;
}

.btns:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px #00d4ff, 0px 0px 10px #00d4ff;
}

.line {
    line-height: 2rem;
}

.text {
    white-space: pre;
}

.cursor {
    display: inline-block;
    visibility: hidden;
    animation: blink 0.7s steps(2, start) infinite;
    color: white;
}

.style-h{
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0px 0px 2px black;
}

.style-h b{
    color: #00d4ff;
}

.card {
    position: relative;
     background: linear-gradient(135deg, #141E30, #243B55);
}

.glow-border {
    position: relative;
    padding: 3px;
    border-radius: 12px;
    z-index: 1;
    background: conic-gradient(from var(--angle) at center,#00c3ff,#4d0199,#6300c6,#00c3ff);
    animation: spin 2s linear infinite;
}
.glow-border::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    z-index: -1;
    background: conic-gradient(from var(--angle) at center,#00c3ff,#4d0199,#6300c6,#00c3ff);
    filter: blur(1.5rem);
    opacity: 0.5;
    animation: spin 2s linear infinite;
    border-radius: 20px;
}

.glow-border::after{
    filter: blur(10px);
}

.glow-border:hover{
    animation-play-state: paused;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}



@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% { 
        opacity: 0;
    }
}

#about p{
    font-size: 20px;
}

.coding-logo{
    width: 25% !important;
}

.gc{
    background-color: #0f172a;
    color: #2f8d46;
    text-shadow: 0px 0px 2px black;
}

.gfg-icon{
    width: 15% !important;
}

.video-preview{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.video-card{
    box-shadow: 0px 0px 5px #00d4ff;
}

.tech-tag {
    background: white;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    display: block;
    font-weight: bold;
    color: white;
    text-align: left;
    margin-top: 10px;
}

input,textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}

input:focus,textarea:focus{
    border: 1px solid #00d4ff;
    outline: none;
    box-shadow: 0px 0px 5px #00d4ff;
    transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
textarea{
    height: 100px;
    resize: vertical;
}

input[type="submit"]{
    box-sizing: border-box;
    font-weight: bold;
    width: 200px;
    margin:20px auto ;
    font-size: medium;
    padding: 5px;
    color: white;
    background-color: #00d4ff;
    border-width: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #00d4ff, 0px 0px 10px #00d4ff;
    text-shadow: 0px 0px 2px black;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

input[type="submit"]:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 5px #00d4ff, 0px 0px 10px #00d4ff;
}
input::placeholder,textarea::placeholder{
    color: rgb(213, 212, 212);
}

footer{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background-color: #222;
    justify-content: space-around;
    padding: 20px;
    color:white !important;
} 
footer a{
    text-decoration: none;
    color:#00d4ff
}

footer p{
    margin:0 !important;
}

.alert{
    animation: away 5s forwards;
}

@keyframes away {
    0%{
        opacity: 1;
        visibility: visible;
    }

    25%{
        opacity: 1;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        visibility: hidden;
    }
}
@media screen and (max-width:990px) {
    .nav-link:hover::after {
        width: 0;
    }
}

@media screen and (max-width:468px) {
    #profile_img {
        width: 150px;
        height: 150px;
    }

    .left p,#about p {
        font-size: 12px;
    }

     .style-h{
        font-size: 26px;
    }

    .card h5{
        font-size: 16px;
    }
    .glow-border img{
    width: 100px;
}

.coding-logo{
    width: 60% !important;
}

.video-preview{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 0.5rem;
}

}

@media screen and (max-width:768px) {
    #profile_img {
        width: 200px;
        height: 200px;
    }
     
    .left p,#about p{
        font-size: 14px;
    }
    .style-h{
        font-size: 32px;
    }

     footer{
        margin-top: 20px;
        flex-direction: column;
        text-align: left;
    }

    footer a{
        text-align: end;
    }

}

@media screen and (max-width:1200px) {
    .left{
    order: 2;
   }
   .right{
    order: 1;
   }
}